<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/navbar') %>
    <header>
      <%- include('../partials/header', {headerTitle}) %>
    </header>
    <div class="container about">
      <h5 class="subTitle">
        Studio Segar yang membantumu menjadi TOP 10% Talenta Indonesia
        dalam dunia Senam dan Tari
      </h5>
      <p class="desc">
        Pelajari keahlian dan rahasia untuk mewujudkan karir dan masa
        depan impianmu.
      </p>
      <h4 class="title__center">Visi</h4>
      <p class="desc">
        Mencetak tenaga kerja Profesional dibidang Instruktur /
        Pelatih Senam Aerobik sebagai pemandu kebugaran senam
        dimasyarakat secara legal.
      </p>
      <p class="desc__italic">
        <i>“Mahir dalam Praktiknya dari Awam”</i>
      </p>
      <h4 class="title__center">Misi</h4>
      <p class="desc">
        Mengerahkan dan mengembangkan para tenaga pemandu kebugaran
        senam dimasyarakat melalui Kursus Pelatih Senam sesuai aturan
        Standar Kompetensi Lulusan (Etika, Praktek secara nyata, dan
        Ilmu Pengetahuan Keolahragaan).
      </p>
      <p class="desc__italic">
        <i>“Berbagi, Berproses, Berkesinambungan”</i>
      </p>
      <h4 class="title__center">Fasilitas Studio</h4>
      <p class="desc">
        Mulai dari materi hingga studio dan matras. Studio Segar punya
        berbagai fasilitas yang lengkap untuk menemani aktivitasmu
        dalam memahami seni.
      </p>
      <div class="swiper mySwiper py-4">
        <div class="swiper-wrapper">
          <% facilites.forEach((facility)=>{ %>
          <div class="swiper-slide">
            <img
              src="<%= facility.img %>"
              class=""
              alt="<%= facility.altText %>"
            />
            <h6><%= facility.description %></h6>
          </div>
          <% }) %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <h4 class="title__center">Tim Studio Segar</h4>
      <p class="desc">
        Mereka yang ahli dalam bidangnya dan siap untuk membimbing
        kamu dalam proses belajar seni di Studio Segar
      </p>
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card">
              <img
                src="/img/profile-testimoni.svg"
                class="d-block w-25 mx-auto my-3"
                alt="Fasilitas Barbel"
              />
              <div
                class="card-body text-center carousel_card__testimony"
              >
                <h5 class="">Dra. Praptiningsih</h5>
                <p class="">
                  Penguji UJK LSKSI<br />(Pengalaman 30 tahun)
                </p>
                <hr />
                <p>"Keren bangettt!"</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img
                src="/img/profile-testimoni.svg"
                class="d-block w-25 mx-auto my-3"
                alt="Fasilitas Barbel"
              />
              <div
                class="card-body text-center carousel_card__testimony"
              >
                <h5 class="">Praptiningsih</h5>
                <p class="">
                  Penguji UJK LSKSI<br />(Pengalaman 30 tahun)
                </p>
                <hr />
                <p>"Keren bangettt!"</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img
                src="/img/profile-testimoni.svg"
                class="d-block w-25 mx-auto my-3"
                alt="Fasilitas Barbel"
              />
              <div
                class="card-body text-center carousel_card__testimony"
              >
                <h5 class="">Dra.</h5>
                <p class="">
                  Penguji UJK LSKSI<br />(Pengalaman 30 tahun)
                </p>
                <hr />
                <p>"Keren bangettt!"</p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <h3 class="title__center">Media Partner</h3>
      <div class="swiper swiperPartner py-4">
        <div class="swiper-wrapper">
          <% mediaPartners.forEach((partner)=>{ %>
          <div class="swiper-slide">
            <img
              src="<%= partner.img %>"
              class="d-block w-75"
              alt="<%= partner.alt %>"
            />
          </div>
          <% }) %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <h3 class="title__center">Lokasi Studio Segar</h3>
      <p class="desc">Ingin tahu dimana lokasi Studio Segar?</p>
      <!-- <h1>{{ MAPS }}</h1> -->
      <div class="google-maps">
        <iframe
          width="560"
          height="315"
          style="border: 0"
          loading="lazy"
          allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJKct2Y-NYei4RyNi8sYj-eF8&key=<%=API_KEY%>"
        ></iframe>
      </div>
    </div>
    <%- include('../partials/footer') %>
    <script src="/js/swiperConf.js"></script>
  </body>
</html>
