<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="background_primary">
        <div class="container pt-5">
            <div class="shadow_box">
                <div class="ratio ratio-21x9  py-5 youTubeContainer">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BQeZXmRgbCA?controls=0" 
                    title="Video 1 LKP Segar" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                </div>
            </div>
            <div class="text-white container">
                <h1 class="title__start">Belajar Seni yang Bugar Gabungnya di Sanggar Segar</h1>
                <p class="desc">Instruktur pelatihan terbaik dan berpengalaman akan ngajarin kamu sampai 
                    benar-benar memahami dan mendapat keahlian dari program seni yang diikuti 
                    untuk pilihan terbaik dari masa depan kamu.
                </p>
                <div class="card_box row align-items-center">
                    <div class="col-5">
                        <a href="https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar.%20Boleh%20tanya-tanya%20dulu?" 
                        target="_blank" class="btn card_box__text_button col-12">Daftar Kelas</a>
                    </div>
                    <div class="col-7">
                        <p class="card_box__text mb-0">Daftarkan keanggotaanmu untuk mendapatkan diskon & paket spesial</p>
                    </div>
                </div>
                <div class="card_box row align-items-center mt-2">
                    <div class="col-5">
                        <a href="#demoVideo" class="btn card_box__text_button col-12">Lihat Demo</a>
                    </div>
                    <div class="col-7">
                        <p class="card_box__text mb-0">Simak video pelatihan dari instruktur berpengalaman untuk program pilihanmu </p>
                    </div>
                </div>
            </div>
            <!-- Fasilitas Studio -->
            <div class="text-white my-3 text-center">
                <h1 class="title__center">Fasilitas Studio</h1>
                <p class="desc__center">Mulai dari materi hingga studio dan matras. Sanggar Segar punya berbagai 
                    fasilitas yang lengkap untuk menemani aktivitasmu dalam memahami seni.
                </p>
                <!-- Swiper -->
                <div class="swiper mySwiper py-4">
                  <div class="swiper-wrapper">
                    <% facilites.forEach((facility)=>{ %>
                      <div class="swiper-slide ">
                        <img src="<%= facility.img %>" 
                        class="" alt="<%= facility.altText %>">
                        <h6><%= facility.description %></h6>
                      </div>
                        <% }) %>
                    <!-- <div class="swiper-slide ">
                      <img src="/img/fasilitasBarbel.png" class="" alt="Fasilitas Barbel">
                      <h6 class="">Barbel</h6>
                    </div>
                    <div class="swiper-slide">
                      <img src="/img/fasilitasMatras.png" class="" alt="Fasilitas Matras">
                      <h6 class="">Matras</h6>
                    </div>
                    <div class="swiper-slide">
                      <img src="/img/fasilitasKelas.png" class="d-block w-100" alt="Fasilitas Kelas">
                      <h6 class="">Kelas</h6>
                    </div> -->
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="background_second">
        <div class="container">
            <!-- Kelas Senam -->
            <div class="text-center text-white ">
                <h1 class="title__center">Jelajahi Kelas Senam</h1>
                <p class="desc__center">Berbagai macam pilihan kelas senam maupun seni 
                    dengan metode pelatihan terbaik yang sesuai dengan keinginanmu
                </p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item mb-2 rounded_box">
                      <h2 class="mb-0" id="headingOne">
                        <button class="accordion-button bg-white rounded_box" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Kelas Umum
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="background_free_class">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar.%20Boleh%20tanya-tanya%20dulu?" 
                            class="btn btn-secondary" target="_blank">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href=https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar." target="_blank"
                             class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar.%20Boleh%20tanya-tanya%20dulu?" 
                            class="btn btn-secondary" target="_blank">Lihat Selengkapnya</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-2 rounded_box">
                      <h2 class="mb-0" id="headingTwo">
                        <button class="accordion-button bg-white rounded_box collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Program level II & III
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="background_free_class">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href="https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar.%20Boleh%20tanya-tanya%20dulu?" 
                            class="btn btn-secondary" target="_blank">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href=https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar." target="_blank"
                             class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href=https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar." target="_blank"
                             class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-2 rounded_box">
                      <h2 class="mb-0" id="headingThree">
                        <button class="accordion-button bg-white rounded_box collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Program Bantuan Pemerintah (BanPer)
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="background_free_class">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href=https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar." target="_blank"
                             class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                        <div class="accordion-body p-0 pb-4 background_free_class my-2">
                          <img class="img-fluid" src="/img/kelas_senam1.png">
                          <div class="container text-center text-white">
                            <h4>Aerobic (Fun)</h4>
                            <hr>
                            <p>“Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet.”</p>
                            <a href=https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar." target="_blank"
                             class="btn btn-secondary">Lihat Selengkapnya</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- <div class="mt-2">
                    <button class="btn btn-secondary fw-semibold">Lihat Semua Kelas</button>
                </div> -->
            </div>
            <!-- Instruktur Pelatihan -->
            <div class="margin__instructur text-center text-white">
                <h1 class="title__center">Instruktur Pelatihan</h1>
                <p class="desc__center">
                  Mereka yang ahli dalam bidangnya dan siap untuk 
                  membimbing kamu dalam proses belajar seni di Sanggar Segar
                </p>
                <div class="swiper swiperInstructur">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="card border-0">
                        <img src="/img/instruktur_praptiningsih.svg" class="" alt="Fasilitas Barbel">
                        <div class="card-body carousel_card__instructur">
                          <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                          <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                          <ul>
                            <li>Marlupi Ballet
                            <li>Sanggar Senam Kartika Dewi</li>
                            <li>Sanggar Senam Hanna</li>
                            <li>Sanggar Senam Noni Kusuma</li>
                            <li>Merapi View</li>
                            <li>LKP Segar</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide ">
                      <div class="card border-0">
                        <img src="/img/instruktur_apri.png" class="d-block w-100" alt="Fasilitas Barbel">
                        <div class="carousel_card__instructur">
                          <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                          <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                          <ul>
                            <li>BPR Bantul</li>
                            <li>Sanggar Senam Puspita</li>
                            <li>LKP Segar</li>
                            <li class="text-white">BPR Bantul</li>
                            <li class="text-white">Sanggar Senam Puspita</li>
                            <li class="text-white">LKP Segar</li>
                            <li class="text-white">LKP Segar</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card border-0">
                        <img src="/img/instruktur_apri.png" class="d-block w-100" alt="Fasilitas Barbel">
                        <div class="card-body carousel_card__instructur">
                          <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                          <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                          <ul>
                            <li>BPR Bantul</li>
                            <li>Sanggar Senam Puspita</li>
                            <li>LKP Segar</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card border-0">
                        <img src="/img/instruktur_atik.svg" class="d-block w-100" alt="Fasilitas Barbel">
                        <div class="card-body carousel_card__instructur">
                          <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                          <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                          <ul>
                            <li>Marlupi Ballet
                            <li>Sanggar Senam Kartika Dewi</li>
                            <li>Sanggar Senam Hanna</li>
                            <li>Sanggar Senam Noni Kusuma</li>
                            <li>Merapi View</li>
                            <li>LKP Segar</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>

                <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-6">
                          <div class="card">
                            <img src="/img/instruktur_praptiningsih.svg" class="d-block w-100" alt="Fasilitas Barbel">
                            <div class="card-body carousel_card__instructur">
                              <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                              <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                              <ul>
                                <li>Marlupi Ballet
                                <li>Sanggar Senam Kartika Dewi</li>
                                <li>Sanggar Senam Hanna</li>
                                <li>Sanggar Senam Noni Kusuma</li>
                                <li>Merapi View</li>
                                <li>LKP Segar</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="card">
                            <img src="/img/instruktur_apri.png" class="d-block w-100" alt="Fasilitas Barbel">
                            <div class="card-body carousel_card__instructur">
                              <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                              <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                              <ul>
                                <li>BPR Bantul</li>
                                <li>Sanggar Senam Puspita</li>
                                <li>LKP Segar</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-6">
                          <div class="card">
                            <img src="/img/instruktur_atik.svg" class="d-block w-100" alt="Fasilitas Barbel">
                            <div class="card-body carousel_card__instructur">
                              <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                              <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                              <ul>
                                <li>Marlupi Ballet
                                <li>Sanggar Senam Kartika Dewi</li>
                                <li>Sanggar Senam Hanna</li>
                                <li>Sanggar Senam Noni Kusuma</li>
                                <li>Merapi View</li>
                                <li>LKP Segar</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="card">
                            <img src="/img/instruktur_slamet.png" class="d-block w-100" alt="Fasilitas Barbel">
                            <div class="card-body carousel_card__instructur">
                              <h5 class="accordion-button ">Dra. Praptiningsih</h5>
                              <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                              <ul>
                                <li>BPR Bantul</li>
                                <li>Sanggar Senam Puspita</li>
                                <li>LKP Segar</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
              </div> -->
            </div>
        </div>
    </div>
    <div class="container why_sanggar text-center">
        <h5 class="title">Kenapa Harus Sanggar Segar?</h5>
        <p class="desc">
          Kami sadar bahwa kamu memiliki potensi yang besar
          dalam memahami seni tari baik untuk kebutuhan profesional
          maupun kebutuhan kebugaran.
        </p>
        <img src="/img/Learning-60px.svg">
        <h6 class="caption">Dibimbing dari Awam</h6>
        <p class="desc">
          Pemahamanmu masih sedikit? Atau mungkin belum penah
          sama sekali untuk menari? Tenang!!! kamu akan dibimbing 
          oleh instruktur terlatih dan profesional yang sudah berpengalaman dalam bidangnya hingga mahir dalam praktiknya.
        </p>
        <img src="/img/Expert-60px.svg">
        <h6 class="caption">Belajar dari Ahlinya</h6>
        <p class="desc">
          Tenaga ahli instuktur profesional di Sanggar Segar memiliki pengalaman 
          lebih dari 10 tahun dalam membimbing talenta agar bisa cepat mahir dalam 
          seni yang sesuai dengan pilihanmu. 
        </p>
        <img src="/img/Partner-60px.svg">
        <h6 class="caption">Jadi Partner Sanggar Segar</h6>
        <p class="desc">
          Lulus dari Sanggar Segar, tapi bingung habis itu mau ngapain? Tenang!!! 
          kamu akan dibantu untuk menyalurkan bakatmu melalui partnership yang tergabung 
          dalam komunitas Sanggar Segar.
        </p>
    </div>
    <div class="join_now">
      <div class="container text-center text-white">
        <div class="card card_join">
          <div class="card-body ">
            <h5 class="title">Gabung Sekarang Juga!</h5>
            <p class="desc">Simpan dan amankan kursi kamu untuk bergabung dalam pelatihan intensif seni dari sanggar kami!</p>
            <a href=https://wa.me/6281239110189?text=Saya%20tertarik%20mendaftar%20kelas%20di%20sanggar%20segar." target="_blank"
            class="btn button">Hubungi Kami!</a>
          </div>
        </div>
        <h5 class="title">Apa Kata Mereka?</h5>
        <p class="desc">
          Lihat kata mereka yang sudah merasakan serunya bergabung dengan Sanggar Segar 
          dan meraih keinginan mereka, mulai dari kebutuhan pribadi hingga kebutuhan profesional.
          Kamu adalah selanjutnya?!
        </p>
        <div class="swiper swiperTestimony py-4" >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card">
                <img src="/img/profile-testimoni.svg" class="d-block w-25 mx-auto my-3" alt="Fasilitas Barbel">
                <div class="card-body text-center carousel_card__testimony">
                  <h5 class="">Dra. Praptiningsih</h5>
                  <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                  <hr>
                  <p>"Keren bangettt!"</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img src="/img/profile-testimoni.svg" class="d-block w-25 mx-auto my-3" alt="Fasilitas Barbel">
                <div class="card-body text-center carousel_card__testimony">
                  <h5 class="">Dra. Praptiningsih</h5>
                  <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                  <hr>
                  <p>"Keren bangettt!"</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img src="/img/profile-testimoni.svg" class="d-block w-25 mx-auto my-3" alt="Fasilitas Barbel">
                <div class="card-body text-center carousel_card__testimony">
                  <h5 class="">Dra. Praptiningsih</h5>
                  <p class="">Penguji UJK LSKSI<br>(Pengalaman 30 tahun)</p>
                  <hr>
                  <p>"Keren bangettt!"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="container testimony">
      <h5>Media Partner</h5>
      <div class="swiper swiperPartner py-4" >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/img/Partner_FA_Segar.svg" class="d-block w-75" alt="Fasilitas Barbel">
          </div>
          <div class="swiper-slide">
            <img src="/img/Partner_Sekar_Buana.svg" class="d-block w-75" alt="Fasilitas Barbel">
          </div>
          <div class="swiper-slide">
            <img src="/img/Partner_SS_Gayatri.svg" class="d-block w-75" alt="Fasilitas Barbel">
          </div>
          <div class="swiper-slide">
            <img src="/img/Partner_SS_Primaraga.svg" class="d-block w-75" alt="Fasilitas Barbel">
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <h5 id="demoVideo">Masih Ragu Untuk Join?</h5>
      <div class="shadow_box">
        <div class="ratio ratio-21x9  py-5 youTubeContainer">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ia0oJnEkNEM?controls=0" 
          title="Video 2 LKP Segar" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: "auto",
        centeredSlides: true,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        // loop: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
      var swiper1 = new Swiper(".swiperInstructur", {
        slidesPerView: 2,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
      var swiper2 = new Swiper(".swiperTestimony", {
        // slidesPerView: 1,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
      var swiper3 = new Swiper(".swiperPartner", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</body>

</html>